apiVersion: v1
kind: ConfigMap
metadata:
  name: dbt-project
  namespace: dn-dbt
data:
  dbt_project.yml: |
    name: 'spark_test'
    version: '1.0.0'
    config-version: 2
    profile: 'spark_test'  # <-- ADD THIS LINE
    model-paths: ["models"]

    models:
      spark_test:
        +materialized: table

  profiles.yml: |
    spark_test:
      target: dev 
      outputs: 
        dev: 
          type: spark
          method: session
          host: "{{ env_var('SPARK_IP') }}"
          port: 10000
          schema: default
          threads: 4

  str_test.sql: |
    {{ config(materialized='table') }}
    SELECT 
        id,
        concat('user_', cast(id as string)) as username,
        rand() * 1000 as score,
        current_timestamp() as loaded_at
    FROM range(500000)
